@import "tailwindcss";
@import "@heroui/styles";

@custom-variant dark (&:is(.dark *));

@theme {
	--font-sans: "font", sans-serif;
	--font-mono: "monospace", monospace;
}

html {
  color-scheme: light;
  background-color: #ffffff;
}

body {
  min-height: 100vh;
  background-color: #ffffff;
  color: #0f172a;
}
